__pycache__/
/SportSORT/cache/*
/SportSORT/checkpoints/*
/SportSORT/data/*
/SportSORT/jersey_team/models/*
/SportSORT/jersey_team/rtmpose/ckpt/*
evaluation/TrackEval/data/res/*
SportSORT/tools/infer_fps.py
